$color-background-grey-50: $grey-50;
$color-background-grey-100: $grey-100;
$color-background-grey-200: $grey-200;
$color-background-grey-300: $grey-300;
$color-background-grey-400: $grey-400;
$color-background-grey-500: $grey-500;
$color-background-grey-600: $grey-600;
$color-background-grey-700: $grey-700;
$color-background-grey-800: $grey-800;
$color-background-grey-900: $grey-900;
$color-background-grey-1000: $grey-A100;


$color-background-amber:$amber-50;
$color-background-blue:$blue-50;
$color-background-green: $green-50;
$color-background-green-500: $green-500;
$color-background-orange: $orange-50;
$color-background-pink: $pink-50;
$color-background-red: $red-500;
$color-background-red-secondary: $red-50;
$color-background-white: $white;