// **** TEXT ****//
$color-text-high: #212121;
$color-text-high-alpha: rgba(0, 0, 0, 0.87);
$color-text-medium:#757575;
$color-text-medium-alpha: rgba(0, 0, 0, 0.54);
$color-text-disabled:#9E9E9E;
$color-text-disable-alpha: rgba(0, 0, 0, 0.38);

$color-text-amber: $amber-500;
$color-text-blue: $blue-500;
$color-text-deep-purple: $deep-purple-500;
$color-text-green: $green-500;
$color-text-orange:$orange-500;
$color-text-pink: $pink-500;
$color-text-red:$red-500;
$color-text-white: $white;


