// FONT SIZE
$font-size-h1: 42px;
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 18px;
$font-size-body-1: 16px;
$font-size-body-2: 14px;
$font-size-caption: 12px;
$font-size-label: 12px;
$font-size-small: 11px;
$font-size-overline: 10px;
$font-size-button: 14px;
$font-size-button-small: 13px;
$font-size-button-sm: 13px;
$font-size-icon-sm: 13px;
$font-size-icon-button: 24px;
$font-size-icon-button-small: 18px;
$font-size-icon-sm: 18px;