// **** ICONS ****//
$color-icon-high: #212121;
$color-icon-high-alpha: rgba(0, 0, 0, 0.87);
$color-icon-medium:#757575;
$color-icon-medium-alpha: rgba(0, 0, 0, 0.54);
$color-icon-disabled:#9E9E9E;
$color-icon-disable-alpha: rgba(0, 0, 0, 0.26);