$spacer:        1rem;
$spacer-x:      1rem;
$spacer-y:      1rem;

$space-size-xxs: 4px;
$space-size-xs: 8px;
$space-size-sm: 12px;
$space-size-md: 16px;
$space-size-lg: 24px;
$space-size-xlg: 32px;
$space-size-xxlg:  40px;