// BRANDS
$color-brand-primary: $deep-purple-600;
$color-brand-secondary: $deep-purple-50; 

$color-background-primary: $color-brand-primary;
$color-background-secondary: $color-brand-secondary;
$color-text-primary: $color-brand-primary;
$color-text-secondary: $color-brand-secondary;